<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="index3.html" class="brand-link">
    <img src="./assets/cent.png" alt="Centroxy Logo" class="brand-image elevation-3 logo" />
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item" style="margin-top: 38px">
          <a class="nav-link">
            <i class="nav-icon fa fa-users"></i>&nbsp;
            <a data-toggle="modal" data-target="#exampleModal">
              <p style="margin-left: 8px">Requirements</p>
            </a>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/calendar.html" class="nav-link">
            <i class="nav-icon fa fa-bullhorn"  aria-hidden="true"></i>
            &nbsp;

            <a href="https://www.naukri.com/" target="_blank"><p style="margin-left: 8px">Publish</p></a>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/hr/onboard-employee']">
            <i class="nav-icon fa fa-user-plus" style="margin-left: 5px"></i>&nbsp;
            <p style="margin-left: 7px">Onboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/kanban.html" class="nav-link">
            <i class="nav-icon fa fa-calendar"></i>&nbsp;&nbsp;
            <p style="margin-left: 7px">Calender</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="pages/kanban.html" class="nav-link">
            <i class="nav-icon fa fa-calendar-minus"></i>
            <p style="margin-left: 19px">Apply Leave</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="pages/kanban.html" class="nav-link">
            <i class="nav-icon fa fa-calendar-check"></i>
            <p style="margin-left: 17px">Leave Status</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/hr/interview-panel']">
            <i class="nav-icon fa fa-users"></i>
            <p style="margin-left: 17px">Interview Panels</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/kanban.html" class="nav-link" [routerLink]="['/hr/all-employee']">
            <i class="nav-icon fa fa-users"></i>&nbsp;&nbsp;
            <p style="margin-left: 7px">All Employees</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="pages/gallery.html" class="nav-link" [routerLink]="['/hr/schedule-interviews']">
            <i class="nav-icon fas fa-calendar-plus"></i> &nbsp;
            <p style="margin-left: 5px">Schedule</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
