<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6"></div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title text-bold">Announcement</h3>
              </div>
            </div>
            <div class="card-body scroll">
              <div class="d-flex">
                <p class="d-flex flex-column">
                  <span>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  </span>
                </p>
                <p class="ml-auto d-flex flex-column text-right">
                  <span class="text-success"> </span>
                </p>
              </div>
              <div class="position-relative mb-4">
                <canvas id="visitors-chart" height="100"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title text-bold">New Hires</h3>
              </div>
            </div>
            <div class="card-body scroll">
              <div class="d-flex">
                <p class="d-flex flex-column">
                  <span>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  </span>
                </p>
                <p class="ml-auto d-flex flex-column text-right">
                  <span class="text-success"> </span>
                </p>
              </div>
              <div class="position-relative mb-4">
                <canvas id="visitors-chart" height="100"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title text-bold">Projects</h3>
              </div>
            </div>
            <div class="card-body scroll">
              <div class="d-flex">
                <p class="d-flex flex-column">
                  <span>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </p>
                <p class="ml-auto d-flex flex-column text-right"></p>
              </div>
              <div class="position-relative mb-4">
                <canvas id="visitors-chart" height="100"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title text-bold">HOLIDAYS</h3>
              </div>
            </div>
            <div class="card-body scroll">
              <div class="d-flex">
                <p class="d-flex flex-column">
                  <span>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </p>
                <p class="ml-auto d-flex flex-column text-right"></p>
              </div>
              <div class="position-relative mb-4">
                <canvas id="visitors-chart" height="100"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="onBoardModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center" id="exampleModalLabel">
          Add New Employee Details
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="container">
        <form #onboardForm="ngForm" (ngSubmit)="onBoardEmployee(onboardForm.value)">
          <div class="row jumbotron">
            <div class="col-sm-6 form-group">
              <label for="name-f">Name</label>
              <input type="text" class="form-control" ngModel name="empName" id="name-f" placeholder="Enter full name"
                required />
            </div>
            <div class="col-sm-6 form-group">
              <label for="address-l">Address</label>
              <input type="address" class="form-control" ngModel name="empAddress" id="name-l"
                placeholder="Enter address" required />
            </div>
            <div class="col-sm-6 form-group">
              <label for="tel">Mobile No</label>
              <input type="number" class="form-control" ngModel name="empMobNo" id="empMobNo"
                placeholder="Enter mobile no" required />
            </div>
            <div class="col-sm-6 form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" ngModel name="empEmail" id="email" placeholder="Enter email"
                required />
            </div>
            <div class="col-sm-6 form-group">
              <label for="date-1">Date Of Birth</label>
              <input type="date" ngModel name="empDob" class="form-control" required />
            </div>
            <div class="col-sm-6 form-group">
              <label for="date-2">Date Of Join </label>
              <input type="date" ngModel name="empDoj" class="form-control" required />
            </div>
            <div class="col-sm-6 form-group">
              <label for="Designation">Designation</label>
              <input type="text" ngModel class="form-control" name="empDesignation" placeholder="Enter designation"
                required />
            </div>

            <div class="col-sm-6 form-group">
              <label for="reporting">Reporting To</label>
              <select name="reportingTo" ngModel name="reportingTo" class="form-control custom-select browser-default">
                <option value="jajati">Jajati Sir</option>
              </select>
            </div>
            <div class="col-sm-6 form-group">
              <label for="Designation">Department</label>
              <input type="text" class="form-control" ngModel name="empDepartment" placeholder="Enter Department"
                required />
            </div>

            <div class="col-sm-6 form-group">
              <label for="image">Image</label>
              <input type="file" class="form-control" ngModel (change)="onEmployeeImageUpload($event)" required />
            </div>

            <div class="modal-footer col-sm-12 form-group mb-0">
              <button #closeOnBoardModal type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
              <button class="btn btn-primary float-right">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div id="panelsModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center" id="exampleModalLabel">
          Interview Panel
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="container">
        <div class="row">
          <div class="col overflow-auto" style="height: 340px; overflow-y: scroll">
            <h4 class="title text-center" id="exampleModalLabel">
              List of Panels
            </h4>

            <div class="panellistcard" *ngFor="let panel of panelsArray">
              <h2>{{ panel.panelFor }}</h2>

              <div class="cont">
                <div *ngFor="let employee of panel.employee">
                  <img [src]="'data:image/jpeg;base64,' + employee.empProfileImage" />
                  <h5>{{ employee.empName }}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="vertical"></div>
          <div class="col">
            <h4 class="title text-center" id="exampleModalLabel">
              Add New Panel
            </h4>
            <div class="container">
              <form #panelAddForm="ngForm" (ngSubmit)="savePanelData(panelAddForm.value)">
                <div class="row jumbotron">
                  <div class="col-sm-6 form-group">
                    <label for="name-f">Panel For</label>
                    <input type="text" class="form-control" ngModel name="panelFor" id="name-f"
                      placeholder="Enter Panel name" required />
                  </div>

                  <div class="col-sm-6 form-group">
                    <label for="reporting">Members</label>
                    <select name="employee" ngModel class="form-control custom-select browser-default" multiple
                      required>
                      <option class="employeeOption" (mouseover)="getEmployeeImage(employee)"
                        (mouseout)="resetEmployeeImage()" *ngFor="let employee of employeeArray" [ngValue]="employee">
                        {{ employee.empName }}
                      </option>
                    </select>
                  </div>
                </div>

                <div *ngIf="empObj != null; then ifblock"></div>
                <ng-template #ifblock>
                  <div class="card">
                    <div class="img">
                      <img [src]="
                          'data:image/jpeg;base64,' + empObj.empProfileImage
                        " />
                      <div class="name">
                        <h2>{{ empObj.empName }}</h2>
                        <h2>{{ empObj.empNo }}</h2>
                      </div>
                      <h2 class="text">
                        {{ empObj.empDesignation }}
                      </h2>
                    </div>
                  </div>
                </ng-template>

                <div class="modal-footer col-sm-12 form-group mb-0">
                  <button #closeOnBoardModal type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                  <button class="btn btn-primary float-right">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
