<app-pm-sidebar></app-pm-sidebar>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-dark">
          <div class="card-header">
            <h3 class="card-title">Job Description</h3>
          </div>

          <form [formGroup]="demandResourceForm" (ngSubmit)="onSubmitDemandResource()">
            <div class="card-body">
              <div class="form-group">
                <label for="inputState" class="col-form-label">Qualification</label>
                <select class="form-control" formControlName="qualification">
                  <option value="">Select an option</option>
                  <option *ngFor="let qualification of Qualifications" [value]="qualification">
                    {{ qualification }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputState" class="col-form-label">Domain</label>
                <select class="form-control" formControlName="domain">
                  <option value="">Select an option</option>
                  <option *ngFor="let domain of Domain" [value]="domain">
                    {{ domain }}
                  </option>
                </select>

              </div>
              <div class="form-group">
                <label>Skill sets</label>
                <input type="text" formControlName="skillSets" class="form-control" required />

              </div>

              <div class="form-group">
                <label for="inputState" class="col-form-label">Experience in Years</label>
                <select id="inputState" class="form-control" formControlName="experienceInYears">
                  <option selected>Choose...</option>
                  <option value="0-2">0-2 yrs</option>
                  <option value="3-4">3-4 yrs</option>
                  <option value="5+">5+ yrs</option>
                </select>
              </div>

              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Position for</label>
                <input type="text" class="form-control" formControlName="positionFor"  required />
              </div>

              <div class="form-group">
                <label for="message-text" class="col-form-label">Responsible for</label>
                <textarea class="form-control" formControlName="responsibilites" id="message-text"></textarea>
              </div>
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-success">Send</button>
              <button type="submit" class="btn btn-danger">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
