<app-hr-sidebar></app-hr-sidebar>
<div class="sidebar float-right">
  <nav class="mt-5">
    <ul class="nav nav-pills nav-sidebar flex-column">

      <li class=" row row-cols-1 float-right list-group nav-item" *ngFor="let toast of errors; ">
        <ngb-toast header="Bad Input ! Kindly Check " class=" bg-danger  text-light "
          [autohide]="false">
          <div class="toast-body">{{toast.message}}</div>
        </ngb-toast>
      </li>
    </ul>
  </nav>
</div>

<section class="content">

  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-6">
        <div class="card card-dark">
          <div class="card-header">
            <h3 class="card-title">Interview Schedule</h3>
          </div>

          <form [formGroup]="scheduleInterviewsForm" (ngSubmit)="onScheduleInterview()">
            <div class="card-body">
              <div class="form-group">
                <label for="inputState" class="col-form-label">Name of the Candidate</label>
                <input type="text" class="form-control" formControlName="candidateName" required />

              </div>

              <div class="form-group">
                <label for="inputState" class="col-form-label">Job Description</label>
                <select name="employee" formControlName="jobDescription" id="inputState"
                  class="form-control custom-select browser-default" required>
                  <option selected disabled>Choose JD</option>
                  <option class="employeeOption" *ngFor="let JD of JDArray" [ngValue]="JD">
                    {{ JD.positionFor }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label>Interview Date & Time</label>
                <input type="datetime-local" formControlName="interviewDateAndTime" class="form-control" required />
              </div>

              <div class="form-group">
                <label for="inputState" class="col-form-label">Interviewed By</label>
                <select name="employee" formControlName="interviewedBy" id="inputState"
                  class="form-control custom-select browser-default" required>
                  <option selected disabled>Choose Panel</option>
                  <option class="employeeOption" *ngFor="let panel of panelsArray" [ngValue]="panel">
                    {{ panel.panelFor }}
                  </option>
                </select>

              </div>


              <div class="form-group">
                <label for="message-text" class="col-form-label">Resume</label>
                <input type="file" class="form-control" (change)="onCandidateResumeUpload($event)" />
              </div>
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-success">Send</button>
              <button type="submit" class="btn btn-danger">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
