.scroll {
  max-height: 239px;
  overflow: auto;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  /* -webkit-transform: translate3d(0, 0, 0); */
  border-radius : .8em;
}
.card{
  border-radius: 8px;
  color: #343A40;
  box-shadow: 0 0 30px rgb(214 215 216 / 70%);
}
.card-header {
  background: #343A40;
}

.content {
  padding: 60px 0 ;
}


.row {
  justify-content: center;
}

.card-footer {
  text-align: center;
  background: #fff;
}
.btn {
  width: 80px;

}
.btn-danger {
  margin-left: 10px;
}
